{deps, [
    {verx, ".*", {git, "https://github.com/msantos/verx.git", "master"}}
%    {verx, ".*", {git, "https://github.com/msantos/verx.git", "master"}},
%    {tunctl, ".*", {git, "https://github.com/msantos/tunctl.git", "master"}}
]}.

{port_specs, [
    {"priv/islet_exec", ["c_src/islet_exec.c"]}
]}.

{xref_checks, [undefined_function_calls]}.
